body {
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 110px;
    background-image: url(img/fitness.png);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.links {
    margin: 0 auto;
    text-align: center;
}

form {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    box-shadow: 5px 10px 30px 10px rgb(17, 0, 255);
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    box-sizing: border-box;
}

label[for="status"],
label[for="nome"],
label[for="cpf"],
label[for="email"],
label[for="senha"],
label[for="grupo"] {
    color: white;
}

input[type="radio"][value="ativado"]+label,
input[type="radio"][value="desativado"]+label {
    color: white;
}

input[type="submit"] {
    background-color: #1600db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgb(47, 0, 255);
}

select {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

option {
    font-size: 16px;
}