body {
align-items: center;
justify-content: center;
font-family: Arial, sans-serif;
margin: 0;
padding: 240px;
background-image: url(/lojaesporte2/src/main/webapp/img/fitness.png);
background-size: cover;
background-position: center;
}

h1 {
text-align: center;
margin-bottom: 30px;
color: white;
}

.links {
margin: 0 auto;
text-align: center;
}

.painel {
width: 50%;
margin: auto;
padding: 20px;
background-color: #333333;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgb(17, 0, 255);
}


a:link {
color: white;
text-decoration: none;
}

a:visited {
color: #ff00ff;
text-decoration: none;
}

a:hover {
color: #ff0000;
text-decoration: underline;
}
