/* Estilos CSS para a página de detalhes do produto */
.product-image {
    max-width: 20%;
    height: auto;
}
/* Desabilitar o botão de comprar */
.disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

